// menu items (dấu 3 chấm góc phải)
.menu-items {
    width: 270px;
    height: 224;
    padding: 8px 0;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}



.item {
    font-weight: 400;
    color: #000;
    cursor: pointer;
    i {
        min-width: 24px;
    }
    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

// header menu c2
.header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 50px;
}
.btn-back {
    position: absolute;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px 12px;
    background-color: transparent;
    i{
        font-size: 16px;
        cursor: pointer;
    }
}
.header-title{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}