.wrapper{
    position: relative;
    height: auto;
    max-width: 500px;
    max-height: 477px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    top:0px;
    left: 0px;
}