.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--while-color);
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 24px 0 16px;
    }
}

// inner

.inner {
    .logo {
        width: 300px;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }



    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 263px;
        height: 100%;
        
    }
}

// action
.action {
    .upload {
        min-width: 110px;
        height: 36px;
        align-items: center;
        display: flex;
        padding: 0 16px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        border-radius: 2px;
        justify-content: center;
        background-color: rgba(255, 255, 255, 1);
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }

    .chat,
    .email {
        display: flex;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        position: relative;
    }

    .emailQuantity{
        color: rgb(255, 255, 255);
        font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        left: 12px;
        background: rgb(254, 44, 85);
        min-width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        position: absolute;
        top: -44%;
    }

    .user {
        width: 32px;
        height: 32px;
        max-width: 32px;
        max-height: 32px;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;
    }
}

.upload {
    i {
        width: 16px;
        margin-right: 8px;
        font-weight: 300;
    }
}

.user {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-menu{
    width: 20px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    i{
        margin-top: 4px;
        font-size: 20px;
    }
}







